@font-face {
font-family: fantasy;
src: url(./Gilory-Black.ttf);
} 

.row{
    display: flex;
    border:2px solid green;
    color: pink;
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.column{
    display: flex;
    border:3px solid black;
    color: blueviolet;
    font-size: 100px;
}
