*{
box-sizing:  border-box;
color:green;
}
html,body{
width: 100%;
height: 100%;
}
body{
background-color:#17ab89;
}
.images{
    height: 100%;
    width: 100%;
    margin: 5px;
    background-color: brown;
    display: grid;
    grid-template-areas: "shirts  shirts shirts  shirts"
                         "village village sriram sriram"
                         "flowers  flowers  flowers flowers flowers"
                         "rose rose  jhansi jhansi";

}
@media(min-width:1024px){
    .images{
    background-color: gold; 
    display: grid;
    grid-template-areas: "shirts  shirts shirts  whiterose"
                         "village  village sriram sriram"
                         "flower   flowers flowers flowers"
                         "rose  rose   jhansi  jhansi";
    border: 2px solid black; 
    }
}
img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

}
.image-shirts{
    grid-area: shirts;
}
.image-village{
    grid-area: village;
}
.image-sriram{
    grid-area: sriram;
}
.image-jhansi{
    grid-area: jhansi;
}
.image-rose{
    grid-area: rose;
}
.image-flowers{
    grid-area: flowers;
}