html,body{
width: 100%;
height: 100%;
}
body{
    background-color: rgb(70,130,180);
}

.card img{
    height: 200px;
    width: 100%;
    border-radius: 0.75rem 0.75rem 0 0;
}
.card{
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    
}
.card:hover{
    box-shadow: 0 8px 24px rgba(0,0,0,.14);
}
.hero-section{
    position:absolute
}
.hero-section .d-flex {
    background: rgba(0,0,0, .35);
    height: 400px;
}
.btn-danger {
  background-color: #ef476f;
  border: none;
}
.btn-danger:hover{
    background-color: #d42e61;
}
h1,h2, h5{
    font-family: 'Gilory', Arial,  sans-serif;
    color: #ef476f;
}
.card-title{
    text-transform: capitalize;
}
blockquote {
    font-style: italic;
    color: #444;
}
.blockquote-footer{
    color: #ef476f;
}
.section, .py-5{
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;

}
.carousel-image{
        height: 100px;
        width: 40px;
        object-fit: cover;
        border-radius: 10px;
}
.card-img-top{
    height: 250px;
    width: 100%;
    object-fit: cover;
}