*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{

   width: 100%;
   height: 100%
}
body {
    flex-direction: column;
    gap:20px;
    background-color:blue;
    display:flex;
    align-items: center;
   justify-content: center;
}
button{
   padding:5px 15px;
   margin-top: 5px;
   background-color: blueviolet;
   height: 40px;
   width:136px;
}
button:active{
   scale: 0.95;
}
.card{
    background-color:wheat;
    padding: 10px 30px;
    border-radius: 20px;
}
.card img{
    height: 200px;
    width:100%;
    border-radius:50%;
    object-fit: cover;
}
h5{
    font-size: 21px;
    color: red;
}
h3{
    font-size: 30px;
    font-weight: 800;
    color:goldenrod;
}
/* h1{
   background-color:pink;
   border-radius: 10px;
   margin: 30px 0;
   font-size: 100px;
   font-family: monospace;
   letter-spacing: 5px;
}
h5{
    font-size:40px ;
    color:#fff456
} */
