*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{

   width: 100%;
   height: 100%
}
body {
    flex-direction:column;
    flex-direction: row;
    gap:20px;
    background-color:gold;
    display:flex;
   align-items:baseline;
   justify-content:baseline;
}
button{
   padding:5px 15px;
   border-radius: 5px;
   border: none;
   background-color:red;
   font-weight: 800px;
}
button:active{
   scale: 0.95;
}