
*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{

   width: 100%;
   height: 100%
}
body {
    flex-direction: column;
    gap:20px;
    background-color:black;
    display:flex;
   align-items: center;
   justify-content: center;
}
button{
   padding:5px 15px;
   margin-top: 5px;
   background-color: blue;
   height: 40px;
   width:136px;
}
button:active{
   scale: 0.95;
}