
*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{

   width: 100%;
   height: 100%
}
body {
    flex-direction: column;
    gap:20px;
    background-color:black;
    display:flex;
   align-items: center;
   justify-content: center;
}
button{
   padding:5px 15px;
   margin-top: 5px;
   background-color: blue;
   height: 40px;
   width:136p;
   
}
button:active{
   scale: 0.95;
}
.container{
   max-width: 300px;
   margin: 0 auto;
   background: #fff;
   padding: 20px;
   border-radius:8px;
   box-shadow: 0 2px 6px rgb(0,0,0,0.15);
}
h2{
   text-align: center;
   margin-bottom: 20px;
}
.progrees-bar{
   width:100%;
   background-color: aqua;
   border-radius: 10px;
   overflow: hidden;
   height:25px;
   margin-bottom: 20px;

}
.progress{
   height: 25px;
   width: 0%;
   background: linear-gradient(90deg, #4caf50,#81c784);
   transition: width 0.3s ease-in;
}
img{
   height: 200px;
   width:150px;

}
#status{
   text-align: center;
   margin-top: 10px;
   font-weight: bold;
}