*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;
}
body {
background-color:orange;
}
#card{
   background-color: gray; 
   border-radius:10px;
   width: 300px;
   height: 400px;
   align-items: center;
   justify-content: center;
   margin-bottom: 10%;
   background: linear-gradient(to right, #f83600, #f9d423);
   
       
      .image{
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;

      }

}
button{
     color: rgb(5,5,5);
     height: 50px;
     width: 100px;
      align-items: center;
         margin-left: 35%;
               margin-right: 35%;
               margin-top: 10px;
         cursor: pointer;
         border-radius: 5px;
         background-color: aquamarine;
}
h3{
   color:red;
   margin-top: 5px;
}

.box{
   border:10px solid rgb(12,12,12);
   width: 400px;
   height:400px;
   background-color: orangered;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10%;

   
}
.clc{
   color: chartreuse;
   width:100px;
   height: 50px;
   cursor: pointer;
   border-radius:5px;
   background-color: green;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 300px;


}