*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;
}
body {
background-color:darkkhaki;
display: flex;
align-items: flex-start;
justify-content: flex-start;
padding: 30px;
gap: 20px;
flex-wrap: wrap;
}
#card{
   background-color:whitesmoke; 
   border-radius:10px;
   padding: 20px;
   text-align: center;

}
img{
   padding: 10px;
   height: 200px;
   width:100%;
   object-fit: cover;
   border-radius: 50%;
   background-color: deeppink;
}

h3{
   color:red;
   margin-top: 5px;
}

