
*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{

   width: 100%;
   height: 100%
}
body {
    flex-direction: column;
    gap:20px;
    background-color:black;
    display:flex;
   align-items: center;
   justify-content: center;
}
button{
   padding:5px 15px;
   border-radius: 5px;
   border: none;
   background-color: blue;
   font-weight: 800px;
}
button:active{
   scale: 0.95;
}
.btn{
   padding:5px 15px;
   border-radius: 5px;
   border: none;
   background-color:red;
   font-weight: 800px;

}
// #hero{
//    background-color: gold;
//    font-size: 60px;
// }
// #heroine{
//    background-color: pink;
//    font-size: 50px;
// }
img{
   height: 200px;
   width: 150px;
   object-fit: cover;
   background-color:orange;
}
