*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body {
   margin: 0;
background-color:lavender;
}
.navbar{
   background-color: darkmagenta;
   width:100%;
   top:0;
   padding: 15px 30px;
   color:green;
   position:fixed;
   transition:top 0.5s;
}
.navbar a{
   float: right;
  display: block;
  color:orange;
  padding: 15px;
  text-decoration: none;
}
