*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body {
background-color:blueviolet;
display:flex;
align-items: center;
justify-content: center;
}
.custom-cursor{
    position:absolute;
    width:40px;
    height: 40px;
    background-color: coral;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    
}