*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;
}
body{
   height: 100px;
   width: 100px;
   background-color:darksalmon;

}
button{
    background-color: blue;
    font-size: 10px;
}
.btn1{
    background-color: orange;
    color:crimson;
    font-size: 7px;

}
#btn2{
    background-color: darkmagenta;
    color: deeppink;
    font-size: 7px;
}