*{
   padding: 2px;
   margin: 0;
   box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;
}
#main {
background-color:yellow;
display: flex;
align-items: flex-start;
justify-content: flex-start;
gap: 30px;
padding: 20px;
flex-wrap: wrap;


}
.card{
   background-color:palevioletred; 
   border-radius:10px;
   padding: 20px;
   text-align: center;

}
img{
   height: 200px;
   width:100px;
   object-fit: cover;
   border-radius: 50%;
}
button{
    background-color: cornflowerblue;
    padding: 10px 20px;
    border-radius: 5px;
    border:none ;
    font-weight: 800px;
}

h4{
   margin-top: 20px;
}

